html {
  font-family: 'Noto', sans-serif;
  font-size: 35px;
}

body {
  background: rgb(22, 22, 22);
}

h1 {
  font-size: 60px;
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  color: white;
}

h2 {
font-family: 'Maven Pro', sans-serif;
  font-size: 200px;
  text-align: right;
  padding-right: 0;
  background: linear-gradient(to right, rgb(255, 116, 174),  rgb(112, 69, 141));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-size: 50px;
  text-align: center;
  font-family: 'Noto', sans-serif;
  padding: 20px;
  background: linear-gradient(to bottom right, #da68a6,  #4e2453);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4 {
  font-size: 30px;
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

#icons {
  text-align: center;
  margin: 0;
}

.ui.button {
  font-family: 'Maven Pro', sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-left: 150px;
  margin-right: 150px;
  background-color: white;
}

.ui.container {
  margin: 70px;
}

.ui.modal {
  background-color: rgb(204, 204, 204);
  font-size: 40px;
  font-family: 'Maven Pro', sans-serif;
}

.currencyIcon {
  border-radius: 10px;
  font-size: 30px;
  width: 80%;
  font-family: 'Maven Pro', sans-serif;
  background: linear-gradient(to right, #b35a98,  #623e7b);
  outline: none;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px;
  margin: 5px;
}

.currencyIcon:hover {
  background: linear-gradient(to bottom right, rgb(151, 177, 194),  rgb(80, 57, 180));
}

.currencyIcon:focus {
  background: linear-gradient(to bottom right, rgb(255, 255, 255),  rgb(0, 20, 33));
}

.currencySymbol {
font-family: 'Maven Pro', sans-serif;
  font-size: 200px;
  background: linear-gradient(to right, rgb(255, 116, 174),  rgb(112, 69, 141));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  outline: none;
  margin: 0;
}

.five.wide.column {
  text-align: center;
}

input {
  width: 200px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Noto', sans-serif;
}

input:hover {
  outline: none;
}

#exchangeRate, #customConversion, #previousRate {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

#convertBtn {
  margin: auto;
  color: white;
  background: linear-gradient(to right, rgb(255, 116, 174),  rgb(112, 69, 141));
}

#convertBtn:hover {
  color: white;
  background: linear-gradient(to right, rgb(116, 176, 255),  rgb(69, 74, 141));
}

#convertBtn:focus {
  margin: auto;
  color: rgb(22, 22, 22);
  background: linear-gradient(to right, rgb(255, 255, 255),  rgb(70, 70, 70));
}

.flagSize { 
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  padding-left: 17px;
  padding-top: 10px;
}

#exchangeRate {
  font-size: 50px;
}

.arrow.right.icon {
  background: linear-gradient(to right, rgb(255, 116, 174),  rgb(112, 69, 141));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modalSpan {
  font-size: 50px;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}