html {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
}
body {
  background: rgb(30, 30, 30);
}

/* Main page header style */
h1 {
  font-size: 90px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
}

/* Large currency symbol style */
h2 {
font-family: 'Montserrat', sans-serif;
  font-size: 200px;
  font-weight: bold;
  text-align: center;
  padding-right: 0;
  background: linear-gradient(to bottom right, rgb(210, 0, 255), rgb(145, 110, 200));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* HelloSalut style */
h3 {
  font-size: 70px;
  text-align: center;
  font-family: 'Noto', sans-serif;
  padding: 20px;
  background: linear-gradient(to bottom right, rgb(210, 0, 255), rgb(145, 110, 200));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px;
  padding-top: 30px;
}

/* Main Modal header */
h4 {
  font-size: 70px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  color: rgb(30, 30, 30);
  padding-top: 40px;
  font-weight: bold;
}

/* Customization of Semantic UI elements */
.ui.button {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-left: 150px;
  margin-right: 150px;
  background: linear-gradient(to bottom right, rgb(210, 0, 255), rgb(145, 110, 200));
  color: white;
}
.ui.button:hover {
  background: linear-gradient(to bottom right, rgb(160, 0, 255), rgb(95, 110, 200));
  color: white;
}
.ui.button:focus {
  background: linear-gradient(to bottom right, rgb(210, 0, 255), rgb(145, 110, 200));
  color: rgb(255, 255, 255);
}
.ui.active.button {
  background: linear-gradient(to bottom right, rgb(210, 0, 255), rgb(145, 110, 200));
  color: rgb(255, 255, 255);
}
.ui.active.button:hover {
  background: linear-gradient(to bottom right, rgb(160, 0, 255), rgb(95, 110, 200));
  color: rgb(255, 255, 255);
  border-radius: 0.285714rem;
}
.ui.upward.dropdown.button:not(.pointing):not(.floating).active {
  background: linear-gradient(to bottom right, rgb(210, 0, 255), rgb(145, 110, 200));
  color: rgb(255, 255, 255);
  border-radius: 0.285714rem;
}
.ui.container {
  margin-top: 60px;
}
.ui.modal {
  background: linear-gradient(to bottom, rgb(173, 173, 173), rgb(210, 210, 210));
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
}

/* Currency icon location name buttons */
.currencyIcon {
  border-radius: 10px;
  font-size: 40px;
  width: 80%;
  height: 80px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to bottom right, rgb(210, 0, 255), rgb(145, 110, 200));
  outline: none;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px;
  margin: 5px;
}
.currencyIcon:hover {
  background: linear-gradient(to bottom right, rgb(160, 0, 255), rgb(95, 110, 200));
  color: rgb(255, 255, 255);
}
.currencyIcon:focus {
  background: linear-gradient(to bottom right, rgb(210, 0, 255), rgb(145, 110, 200));
  color: rgb(255, 255, 255);
}

/* Conversion input boxes */
input {
  width: 175px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}
input:hover {
  outline: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Convert button in secondray modal */
#convertBtn {
  height: 70px;
  width: 180px;
  padding: 20px;
  font-size: 32px;
  margin: auto;
  color: white;
  background: linear-gradient(to bottom right, rgb(210, 0, 255), rgb(145, 110, 200));
}
#convertBtn:hover {
  color: white;
  background: linear-gradient(to bottom right, rgb(160, 0, 255), rgb(95, 110, 200));
}
#convertBtn:focus {
  color: rgb(255, 255, 255);
  background: linear-gradient(to bottom right, rgb(210, 0, 255), rgb(145, 110, 200));
}

/* Flag scale */
.flagSize { 
  height: 64px;
  margin-right: 20px;
  margin-left: 20px;
}

/* Icon styling for arrows and rate chalet */
.arrow.right.icon {
  background: linear-gradient(to bottom right, rgb(210, 0, 255), rgb(145, 110, 200));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}
#exchangeArrow {
  font-size: 45px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 5px;
}
#prevArrow {
  font-size: 35px;
}
#rateIcon {
  font-size: 40px;
  padding-top: 5px;
  margin-left: 5px;
}

/* Secondary modal placement */
#exchangeRate {
  display: flex;
  justify-content: center;
  font-size: 60px;
  margin-top: 25px;
  margin-bottom: 50px;
  font-family: 'Noto', sans-serif;
}
#customConversion {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'Noto', sans-serif;
}
#previousRate {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 25px;
  font-family: 'Noto', sans-serif;
}
#prevStyle {
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Rate up/down icon color change */
i.green.icon {
  color: rgb(160, 0, 255)!important;
}
i.red.icon {
  color: rgb(95, 110, 200)!important;
}