html {
  font-family: 'Noto', sans-serif;
  font-size: 35px;
}

body {
  background: linear-gradient(to bottom right, rgb(121, 148, 184), rgb(20, 21, 22)) fixed;
  font-family: 'Noto', sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
  font-family: 'Noto', sans-serif;
  color: white;
}

h2 {
  font-family: 'Noto', sans-serif;
  font-weight: lighter;
  text-align: center;
  font-size: 30px;
  color: white;
}

h3 {
  font-size: 60px;
  text-align: center;
  font-family: 'Noto', sans-serif;
  padding: 20px;
}

h4 {
  font-size: 30px;
  text-align: center;
  font-family: 'Noto', sans-serif;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

#icons {
  text-align: center;
  margin: 0;
}

.ui.button {
  font-family: 'Noto', sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-left: 150px;
  margin-right: 150px;
  background-color: white;
}

.ui.container {
  margin: 70px;
}

.ui.modal {
  background-color: rgb(204, 204, 204);
  font-size: 40px;
  font-family: 'Noto', sans-serif;
  padding: 20px;
}

.currencyIcon {
  border-radius: 100px;
  height: 200px;
  width: 200px;
  font-size: 100px;
  font-family: 'Noto', sans-serif;
  margin: 30px;
  background: linear-gradient(to bottom right, rgb(255, 183, 116),  rgb(63, 50, 33));
  outline: none;
  color: white;
  border: none;
}

.currencyIcon:hover {
  background: linear-gradient(to bottom right, rgb(255, 153, 116),  rgb(63, 20, 33));
}

.currencyIcon:focus {
  background: linear-gradient(to bottom right, rgb(255, 255, 255),  rgb(0, 20, 33));
}

input {
  width: 200px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Noto', sans-serif;
}

input:hover {
  outline: none;
}

#exchangeRate, #customConversion {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

#previousRate {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#convertBtn {
  margin: auto;
  margin-bottom: 45px;
  margin-top: 30px;
}

#convertBtn:hover {
  background-color: rgb(255, 183, 116);
  color: white;
}

#convertBtn:focus {
  background-color: rgb(63, 50, 33);
  color: white;
}

.modalSpan {  
  margin-left: 10px;
  margin-right: 10px;
}

.flagSize { 
  height: 110px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  padding-left: 45px;
  padding-top: 30px;
}

#exchangeRate {
  font-size: 50px;
  margin-bottom: 40px;
}

#arrowScale {
  color: rgb(121, 148, 184);
  font-size: 30px;
}

#customArrow {
  color: rgb(121, 148, 184);
  font-size: 40px;
  padding-top: 13px;
}

#prevArrow {
  color: rgb(121, 148, 184);
  font-size: 30px;
  padding-top: 5px;
}

#exchangeArrow {
  color: rgb(121, 148, 184);
  font-size: 35px;
  padding-top: 7px;
}

#convertedCurrency, #nativeCurrency {
  font-size: 50px;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.nativeRate, #convertedRate, #convertedPreviousRate {
  margin-left: 10px;
  margin-right: 10px;
}

#helloDisplay {
  margin-bottom: 20px;
}

#rateIcon {
  font-size: 35px;
  padding-top: 7px;
  margin: 0;
}